@reference "tailwindcss";

#banner {
  @apply flex bg-black h-10 text-white items-center justify-center font-semibold text-lg gap-x-4 overflow-hidden;
}

.landingBanner {
  @apply sticky top-0 left-0 right-0;
}

.flair {
  @apply text-xs text-black font-bold bg-green-500 rounded-sm px-1 py-0.5;
}

.feature {
  position: absolute;
  line-height: 1;
  visibility: hidden;
  transform: translate3d(0, -4em, 0);
  transition: transform 500ms cubic-bezier(0.85, 0, 0.15, 1);
}

.entering {
  visibility: visible;
  transform: translate3d(0, 0, 0);
}

.exiting {
  visibility: visible;
  transform: translate3d(0, 4em, 0);
}

.mainContent {
  background-image: var(--bg-image-landing);
  background-size: cover;
  @apply flex-auto flex flex-col space-y-4 px-8 py-6;
}

.landingText {
  @apply text-[92px] leading-none text-white uppercase w-[700px] font-bold;
}

.sideNav {
  background-color: var(--background-side-nav);
  padding: 0 2rem;
}

.sideNavLinks {
  display: flex;
  flex-direction: column;
}

.sideNavLink {
  background-image: var(--list-);
  padding-left: 3rem;
}

.sideNavLinkPadding {
  padding: 10px 0;
  border-bottom: 1px solid var(--bg-side-nav-border-color);
}

.signInBtn {
  @apply flex items-center justify-center py-3 px-8 rounded-full 
  bg-white hover:bg-green-500 text-black font-semibold w-96;
}

.description {
  @apply text-lg text-white font-light;
}
